### Combining PMI Scores and POS tagging
The below results are based on PMI scores being calculated on the full sample. This is the version presented in the results section of my paper.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# read in csv file
men_df = pd.read_csv('/Users/emmastoklundlee/Documents/Social Data Science - Masters/Thesis/data/pmi_pos_men_all.csv')

In [3]:
# read in csv file
women_df = pd.read_csv('/Users/emmastoklundlee/Documents/Social Data Science - Masters/Thesis/data/pmi_pos_women_all.csv')

In [4]:
men_df.head(20)

    Unnamed: 0 POS_Tag  Confidence_Score       word
0            0     ADJ          0.845004      final
1            1   PROPN          0.998636    arsenal
2            2     ADV          0.998225      still
3            3     ADV          0.470993       home
4            4    NOUN          0.947709        cup
5            5   PROPN          0.998693    chelsea
6            6     ADJ          0.995654        old
7            7     ADV          0.996304       even
8            8   PROPN          0.965943       west
9            9   SCONJ          0.994056    because
10          10    NOUN          0.991866        man
11          11     ADV          0.930928        too
12          12     AUX          0.958341        did
13          13    NOUN          0.971535        end
14          14   PROPN          0.998678  newcastle
15          15    NOUN          0.998615       fans
16          16    NOUN          0.912113     palace
17          17   PROPN          0.998693  leicester
18          18     ADV          0.765376      since
19          19   PROPN          0.997732   mourinho

In [5]:
# showing top adjectives in women
women_df[women_df['POS_Tag']=='ADJ'].head(20)

      Unnamed: 0 POS_Tag  Confidence_Score         word
54            54     ADJ          0.944451       female
211          211     ADJ          0.995248       bright
226          226     ADJ          0.393434      milicic
267          267     ADJ          0.881490       diacre
298          298     ADJ          0.885503      chidiac
654          654     ADJ          0.805176       harder
675          675     ADJ          0.998191       sexual
819          819     ADJ          0.969684   australian
846          846     ADJ          0.854388         solo
852          852     ADJ          0.765918   dutchwoman
987          987     ADJ          0.991779   indigenous
1026        1026     ADJ          0.992278   aboriginal
1069        1069     ADJ          0.987919        queer
1122        1122     ADJ          0.995770     féminine
1168        1168     ADJ          0.981769   consensual
1169        1169     ADJ          0.963121       sexist
1243        1243     ADJ          0.979270      lesbian
1329        1329     ADJ          0.964897     feminist
1411        1411     ADJ          0.852487  frenchwoman
1456        1456     ADJ          0.984231       afghan

In [6]:
# showing top adjectives in women
men_df[men_df['POS_Tag']=='ADJ'].head(20)

     Unnamed: 0 POS_Tag  Confidence_Score      word
0             0     ADJ          0.845004     final
6             6     ADJ          0.995654       old
25           25     ADJ          0.994400      real
54           54     ADJ          0.985689       big
61           61     ADJ          0.735613      most
72           72     ADJ          0.995584     other
122         122     ADJ          0.995094   martial
131         131     ADJ          0.950681  grealish
139         139     ADJ          0.996871  doubtful
226         226     ADJ          0.994715   unknown
289         289     ADJ          0.970749   pulisic
390         390     ADJ          0.982759   italian
479         479     ADJ          0.812084       ole
486         486     ADJ          0.991539   injured
491         491     ADJ          0.985419     noble
500         500     ADJ          0.996701       bad
505         505     ADJ          0.986751      sané
528         528     ADJ          0.917313       red
582         582     ADJ          0.992289    modern
584         584     ADJ          0.931702   rakitic

In [7]:
# showing top verbs in women
women_df[women_df['POS_Tag']=='VERB'].head(20)

      Unnamed: 0 POS_Tag  Confidence_Score               word
1118        1118    VERB          0.735223       premoderated
1481        1481    VERB          0.509953           enslaved
1582        1582    VERB          0.977764  professionalising
2159        2159    VERB          0.998238             ranked
2517        2517    VERB          0.993947         subsidized
2832        2832    VERB          0.997355           optimize
2888        2888    VERB          0.996394          crocheted
2916        2916    VERB          0.999096         visualized
2943        2943    VERB          0.996899          relearned
2976        2976    VERB          0.592824           pantling
3125        3125    VERB          0.993668    professionalize
3254        3254    VERB          0.998408        neutralized
3459        3459    VERB          0.845565          unbundled
3469        3469    VERB          0.987764           collects
3588        3588    VERB          0.408204          jetlegged
3611        3611    VERB          0.997978        burglarized
3724        3724    VERB          0.997083         interposes
3725        3725    VERB          0.529420             wacked
3742        3742    VERB          0.987740      entertainined
3807        3807    VERB          0.930310         cantillate

In [8]:

men_df[men_df['POS_Tag']=='VERB'].head(20)

      Unnamed: 0 POS_Tag  Confidence_Score       word
20            20    VERB          0.993495        get
39            39    VERB          0.995367       made
69            69    VERB          0.885812       play
75            75    VERB          0.472151        win
99            99    VERB          0.989430       move
219          219    VERB          0.810393  suspended
353          353    VERB          0.990237        say
405          405    VERB          0.911672       sign
468          468    VERB          0.990243     writes
686          686    VERB          0.993278     linked
728          728    VERB          0.998331   admitted
828          828    VERB          0.997207       asks
847          847    VERB          0.988694  relegated
999          999    VERB          0.973728      spent
1014        1014    VERB          0.998739      given
1033        1033    VERB          0.974983       lost
1043        1043    VERB          0.994604        buy
1046        1046    VERB          0.989849      leave
1085        1085    VERB          0.998715       said
1270        1270    VERB          0.996542   rejected

In [9]:

women_df[women_df['POS_Tag']=='ADV'].head(20)

      Unnamed: 0 POS_Tag  Confidence_Score              word
66            66     ADV          0.301530             uswnt
340          340     ADV          0.204145           rytting
606          606     ADV          0.998348             abily
1607        1607     ADV          0.972393           moodaly
2004        2004     ADV          0.718958             atoot
2554        2554     ADV          0.998543          sexually
2689        2689     ADV          0.997425     aggravatingly
2726        2726     ADV          0.997528       difficultly
2892        2892     ADV          0.997945      peripherally
2971        2971     ADV          0.998998     instinctually
3808        3808     ADV          0.998761        ignorantly
3836        3836     ADV          0.802610            howatt
3847        3847     ADV          0.994634         insteadof
3894        3894     ADV          0.997661  insteadrelegated
3910        3910     ADV          0.998189        ineligibly
3950        3950     ADV          0.996041        inititally
3997        3997     ADV          0.392898     earnestbefore
4102        4102     ADV          0.273816           togther
4154        4154     ADV          0.592418             tdown
4166        4166     ADV          0.996913    telepathically

In [10]:

men_df[men_df['POS_Tag']=='ADV'].head(20)

      Unnamed: 0 POS_Tag  Confidence_Score        word
2              2     ADV          0.998225       still
3              3     ADV          0.470993        home
7              7     ADV          0.996304        even
11            11     ADV          0.930928         too
18            18     ADV          0.765376       since
147          147     ADV          0.885890       least
261          261     ADV          0.994517       never
319          319     ADV          0.997144        just
380          380     ADV          0.978339      inside
636          636     ADV          0.965704      rather
701          701     ADV          0.999089     already
787          787     ADV          0.993946     perhaps
1004        1004     ADV          0.617020        next
1238        1238     ADV          0.998685  apparently
1362        1362     ADV          0.998316      always
1422        1422     ADV          0.998660      hardly
1485        1485     ADV          0.998651   certainly
1577        1577     ADV          0.902745       afcon
1832        1832     ADV          0.982478        sort
1992        1992     ADV          0.998763      simply

In [11]:

women_df[women_df['POS_Tag']=='NOUN'].head(20)

     Unnamed: 0 POS_Tag  Confidence_Score         word
2             2    NOUN          0.996969        women
8             8    NOUN          0.971996       bronze
13           13    NOUN          0.939339    lionesses
18           18    NOUN          0.996339        girls
81           81    NOUN          0.959511     putellas
118         118    NOUN          0.765580  shebelieves
122         122    NOUN          0.968786       thorns
159         159    NOUN          0.922721         vine
163         163    NOUN          0.982174        world
167         167    NOUN          0.998054    goalposts
169         169    NOUN          0.567384     rubiales
256         256    NOUN          0.996891   newsletter
265         265    NOUN          0.996945       gender
278         278    NOUN          0.954448        ferns
290         290    NOUN          0.925825     fishlock
368         368    NOUN          0.917343       brugts
410         410    NOUN          0.998226  newsletters
462         462    NOUN          0.997211   tournament
468         468    NOUN          0.630118        bathy
474         474    NOUN          0.951168      lioness

In [12]:

men_df[men_df['POS_Tag']=='NOUN'].head(20)

     Unnamed: 0 POS_Tag  Confidence_Score        word
4             4    NOUN          0.947709         cup
10           10    NOUN          0.991866         man
13           13    NOUN          0.971535         end
15           15    NOUN          0.998615        fans
16           16    NOUN          0.912113      palace
28           28    NOUN          0.998723       years
38           38    NOUN          0.998056        side
44           44    NOUN          0.997823         day
47           47    NOUN          0.996282      wolves
56           56    NOUN          0.995319    transfer
60           60    NOUN          0.996101        loan
66           66    NOUN          0.995254    football
67           67    NOUN          0.997611     players
79           79    NOUN          0.856021      forest
80           80    NOUN          0.994320      points
83           83    NOUN          0.611387       conte
85           85    NOUN          0.998427  supporters
95           95    NOUN          0.997468        team
98           98    NOUN          0.997424         son
102         102    NOUN          0.995950        subs

In [13]:

women_df[women_df['POS_Tag']=='PROPN'].head(20)

    Unnamed: 0 POS_Tag  Confidence_Score      word
3            3   PROPN          0.997334      kerr
4            4   PROPN          0.878364  matildas
5            5   PROPN          0.998874     hayes
6            6   PROPN          0.990587       wsl
7            7   PROPN          0.997819      mead
9            9   PROPN          0.998381   wiegman
10          10   PROPN          0.998694     kirby
11          11   PROPN          0.902677      hemp
12          12   PROPN          0.997671   miedema
14          14   PROPN          0.997990     russo
15          15   PROPN          0.959126     foord
16          16   PROPN          0.989716     earps
17          17   PROPN          0.997286   rapinoe
19          19   PROPN          0.997611   stanway
20          20   PROPN          0.997681    parris
21          21   PROPN          0.998137      emma
22          22   PROPN          0.998710    lauren
23          23   PROPN          0.984774     toone
24          24   PROPN          0.998389      beth
25          25   PROPN          0.998617    canada

In [14]:
men_df[men_df['POS_Tag']=='PROPN'].head(20)

    Unnamed: 0 POS_Tag  Confidence_Score         word
1            1   PROPN          0.998636      arsenal
5            5   PROPN          0.998693      chelsea
8            8   PROPN          0.965943         west
14          14   PROPN          0.998678    newcastle
17          17   PROPN          0.998693    leicester
19          19   PROPN          0.997732     mourinho
22          22   PROPN          0.998335    guardiola
24          24   PROPN          0.998143        klopp
26          26   PROPN          0.998434        david
27          27   PROPN          0.997875         kane
29          29   PROPN          0.998481       madrid
30          30   PROPN          0.998668          ham
31          31   PROPN          0.998827  southampton
32          32   PROPN          0.998838      everton
35          35   PROPN          0.998585      burnley
37          37   PROPN          0.998644  bournemouth
40          40   PROPN          0.993222          may
41          41   PROPN          0.998767        leeds
42          42   PROPN          0.998525      watford
43          43   PROPN          0.997720    southgate

In [20]:
'boys' in men_df['word'].values

False

In [19]:
'girls' in women_df['word'].values

True

In [21]:
len(men_df)

5000