### Combining PMI Scores and POS tagging
The below results are based on PMI scores being calculated where a subsample is taken and stop words have been removed. This means that an equal number of women's football and men's football are used, solving issues which may arise from there being an imbalance of data across classes. This is then used as a robustness check.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# read in csv file
men_df = pd.read_csv('/Users/emmastoklundlee/Documents/Social Data Science - Masters/Thesis/data/pmi_pos_men_subsample_nostopwords.csv')

In [3]:
# read in csv file
women_df = pd.read_csv('/Users/emmastoklundlee/Documents/Social Data Science - Masters/Thesis/data/pmi_pos_women_subsample_nostopwords.csv')

In [8]:
men_df.head(50)

    Unnamed: 0 POS_Tag  Confidence_Score         word
0            0    NOUN          0.992365         club
1            1   PROPN          0.998454       united
2            2   PROPN          0.998882    liverpool
3            3   PROPN          0.962362      premier
4            4    NOUN          0.997468         team
5            5    NOUN          0.997275         game
6            6    NOUN          0.502868         ball
7            7    VERB          0.998715         said
8            8   PROPN          0.998678    newcastle
9            9    NOUN          0.997075      manager
10          10   PROPN          0.965943         west
11          11   PROPN          0.997732     mourinho
12          12     ADJ          0.780383         left
13          13    NOUN          0.991866          man
14          14   PROPN          0.998335    guardiola
15          15   PROPN          0.998143        klopp
16          16   PROPN          0.997875         kane
17          17   PROPN          0.998434        david
18          18    NOUN          0.912113       palace
19          19   PROPN          0.998827  southampton
20          20   PROPN          0.998693    leicester
21          21    INTJ          0.932500        right
22          22   PROPN          0.998848       fulham
23          23   PROPN          0.998585      burnley
24          24   PROPN          0.998644  bournemouth
25          25   PROPN          0.998418        messi
26          26   PROPN          0.997720    southgate
27          27   PROPN          0.998363        salah
28          28   PROPN          0.998481       madrid
29          29   PROPN          0.998421      ronaldo
30          30   PROPN          0.894711          min
31          31   PROPN          0.998767        leeds
32          32   PROPN          0.997191       wenger
33          33   PROPN          0.998674     sterling
34          34   PROPN          0.998859      swansea
35          35    NOUN          0.996282       wolves
36          36   PROPN          0.998615        harry
37          37   PROPN          0.976596   pochettino
38          38   PROPN          0.998668          ham
39          39   PROPN          0.998525      watford
40          40   PROPN          0.997639       bruyne
41          41   PROPN          0.998723       rooney
42          42   PROPN          0.998591     rashford
43          43   PROPN          0.998703    brentford
44          44   PROPN          0.997617       europa
45          45   PROPN          0.839176          pep
46          46   PROPN          0.998837     dortmund
47          47    NOUN          0.995319     transfer
48          48     ADJ          0.995654          old
49          49   PROPN          0.963326         brom

In [5]:
# showing top adjectives in women
women_df[women_df['POS_Tag']=='ADJ'].head(20)

     Unnamed: 0 POS_Tag  Confidence_Score          word
3             3     ADJ          0.845004         final
39           39     ADJ          0.995248        bright
53           53     ADJ          0.944451        female
86           86     ADJ          0.805176        harder
92           92     ADJ          0.969684    australian
95           95     ADJ          0.553204         super
112         112     ADJ          0.868006         white
185         185     ADJ          0.254069          half
186         186     ADJ          0.998191        sexual
188         188     ADJ          0.854388          solo
257         257     ADJ          0.982155  professional
276         276     ADJ          0.393434       milicic
304         304     ADJ          0.858520         dutch
378         378     ADJ          0.881490        diacre
388         388     ADJ          0.997939         equal
420         420     ADJ          0.973514      anterior
428         428     ADJ          0.885503       chidiac
498         498     ADJ          0.985135      canadian
518         518     ADJ          0.948427   continental
570         570     ADJ          0.995320         great

In [37]:
# showing top adjectives in women
men_df[men_df['POS_Tag']=='ADJ'].head(20)

     Unnamed: 0 POS_Tag  Confidence_Score       word
12           12     ADJ          0.780383       left
48           48     ADJ          0.995654        old
90           90     ADJ          0.995094    martial
91           91     ADJ          0.950681   grealish
96           96     ADJ          0.994400       real
100         100     ADJ          0.996871   doubtful
268         268     ADJ          0.970749    pulisic
331         331     ADJ          0.994715    unknown
398         398     ADJ          0.812084        ole
405         405     ADJ          0.986751       sané
428         428     ADJ          0.982759    italian
463         463     ADJ          0.985419      noble
511         511     ADJ          0.964401       bony
590         590     ADJ          0.993038    belgian
618         618     ADJ          0.931702    rakitic
702         702     ADJ          0.746662    perisic
738         738     ADJ          0.974668      saudi
788         788     ADJ          0.987430   egyptian
856         856     ADJ          0.987397  prizeless
866         866     ADJ          0.829720        löw

In [38]:
# showing top verbs in women
women_df[women_df['POS_Tag']=='VERB'].head(20)

      Unnamed: 0 POS_Tag  Confidence_Score      word
1              1    VERB          0.885811      play
21            21    VERB          0.472152       win
125          125    VERB          0.998580     think
197          197    VERB          0.998314      says
223          223    VERB          0.997189     going
229          229    VERB          0.831765      come
303          303    VERB          0.998238    ranked
359          359    VERB          0.992239      gets
413          413    VERB          0.987764  collects
425          425    VERB          0.533639      shot
564          564    VERB          0.990340     comes
589          589    VERB          0.851142      kick
651          651    VERB          0.694194      kiss
673          673    VERB          0.691695     build
689          689    VERB          0.998756   playing
807          807    VERB          0.996691    moving
822          822    VERB          0.929964   reading
1015        1015    VERB          0.996726    coming
1145        1145    VERB          0.998939   realize
1229        1229    VERB          0.993891     kneel

In [39]:

men_df[men_df['POS_Tag']=='VERB'].head(20)

      Unnamed: 0 POS_Tag  Confidence_Score       word
7              7    VERB          0.998715       said
358          358    VERB          0.810393  suspended
615          615    VERB          0.990243     writes
815          815    VERB          0.993278     linked
935          935    VERB          0.886394       burn
1002        1002    VERB          0.517751     moting
1009        1009    VERB          0.997207       asks
1014        1014    VERB          0.988694  relegated
1214        1214    VERB          0.911672       sign
1282        1282    VERB          0.994604        buy
1433        1433    VERB          0.995572    insists
1471        1471    VERB          0.971280     buying
1525        1525    VERB          0.998331   admitted
2199        2199    VERB          0.998436   proposed
2241        2241    VERB          0.608605     defour
2250        2250    VERB          0.998715       saïd
2266        2266    VERB          0.924242   imagines
2299        2299    VERB          0.996959   convince
2306        2306    VERB          0.983205       sell
2315        2315    VERB          0.716809  breaching

In [40]:

women_df[women_df['POS_Tag']=='ADV'].head(20)

      Unnamed: 0 POS_Tag  Confidence_Score             word
19            19     ADV          0.998569           really
79            79     ADV          0.977201          forward
106          106     ADV          0.301531            uswnt
482          482     ADV          0.204145          rytting
764          764     ADV          0.998543         sexually
796          796     ADV          0.998348            abily
1112        1112     ADV          0.998350         globally
1224        1224     ADV          0.825842       standalone
1524        1524     ADV          0.564853           second
1903        1903     ADV          0.998407  internationally
2011        2011     ADV          0.777382         goalward
2261        2261     ADV          0.997814          scarily
2272        2272     ADV          0.997645         aerially
2376        2376     ADV          0.995698     domestically
2385        2385     ADV          0.996843        afterward
2473        2473     ADV          0.972393          moodaly
2789        2789     ADV          0.992482           inward
2809        2809     ADV          0.998482      customarily
3190        3190     ADV          0.718958            atoot
3219        3219     ADV          0.706872         freaking

In [41]:

men_df[men_df['POS_Tag']=='ADV'].head(20)

      Unnamed: 0 POS_Tag  Confidence_Score           word
1534        1534     ADV          0.998685     apparently
1730        1730     ADV          0.902745          afcon
1963        1963     ADV          0.978879       sideways
3021        3021     ADV          0.998723     unlawfully
3221        3221     ADV          0.998537          oddly
3282        3282     ADV          0.997816      wistfully
3328        3328     ADV          0.998420      agreeably
3534        3534     ADV          0.998660         hardly
3696        3696     ADV          0.998636      laughably
3786        3786     ADV          0.996664      miserably
3788        3788     ADV          0.998032  mischievously
3920        3920     ADV          0.897626         awhile
3953        3953     ADV          0.998588    expensively
4055        4055     ADV          0.992527        exually
4361        4361     ADV          0.998526        morally
4422        4422     ADV          0.998206      tediously
4500        4500     ADV          0.994306           éver
4874        4874     ADV          0.998912        angrily
4886        4886     ADV          0.998275     needlessly
4948        4948     ADV          0.998730        faintly

In [42]:

women_df[women_df['POS_Tag']=='NOUN'].head(20)

     Unnamed: 0 POS_Tag  Confidence_Score         word
2             2    NOUN          0.978384         city
6             6    NOUN          0.986919         mins
7             7    NOUN          0.997211   tournament
13           13    NOUN          0.971996       bronze
23           23    NOUN          0.996339        girls
25           25    NOUN          0.939339    lionesses
38           38    NOUN          0.915611       soccer
80           80    NOUN          0.998280        group
81           81    NOUN          0.998715        teams
102         102    NOUN          0.992589        coach
111         111    NOUN          0.966280   federation
115         115    NOUN          0.995909          men
131         131    NOUN          0.959511     putellas
136         136    NOUN          0.567385     rubiales
139         139    NOUN          0.633566        euros
145         145    NOUN          0.998054    goalposts
158         158    NOUN          0.996521        woman
166         166    NOUN          0.918695        sport
170         170    NOUN          0.918894       states
194         194    NOUN          0.765580  shebelieves

In [43]:

men_df[men_df['POS_Tag']=='NOUN'].head(20)

     Unnamed: 0 POS_Tag  Confidence_Score        word
0             0    NOUN          0.992365        club
4             4    NOUN          0.997468        team
5             5    NOUN          0.997275        game
6             6    NOUN          0.502868        ball
9             9    NOUN          0.997075     manager
13           13    NOUN          0.991866         man
18           18    NOUN          0.912113      palace
35           35    NOUN          0.996282      wolves
47           47    NOUN          0.995319    transfer
50           50    NOUN          0.611386       conte
53           53    NOUN          0.996819        time
59           59    NOUN          0.996101        loan
60           60    NOUN          0.856020      forest
107         107    NOUN          0.991894      stones
125         125    NOUN          0.997424         son
127         127    NOUN          0.998427  supporters
150         150    NOUN          0.997651  relegation
165         165    NOUN          0.998683  discipline
171         171    NOUN          0.982949        rice
177         177    NOUN          0.896757    trippier

In [44]:

women_df[women_df['POS_Tag']=='PROPN'].head(20)

    Unnamed: 0 POS_Tag  Confidence_Score       word
0            0   PROPN          0.998636    arsenal
4            4   PROPN          0.997334       kerr
5            5   PROPN          0.998503  australia
8            8   PROPN          0.878364   matildas
9            9   PROPN          0.998874      hayes
10          10   PROPN          0.990587        wsl
11          11   PROPN          0.998705       lyon
12          12   PROPN          0.997819       mead
14          14   PROPN          0.812643         ve
15          15   PROPN          0.998298        usa
16          16   PROPN          0.998694      kirby
17          17   PROPN          0.998381    wiegman
18          18   PROPN          0.998617     canada
20          20   PROPN          0.902678       hemp
22          22   PROPN          0.997671    miedema
24          24   PROPN          0.998167     sweden
26          26   PROPN          0.997990      russo
27          27   PROPN          0.959126      foord
28          28   PROPN          0.998625     france
29          29   PROPN          0.998137       emma

In [45]:
men_df[men_df['POS_Tag']=='PROPN'].head(20)

    Unnamed: 0 POS_Tag  Confidence_Score         word
1            1   PROPN          0.998454       united
2            2   PROPN          0.998882    liverpool
3            3   PROPN          0.962362      premier
8            8   PROPN          0.998678    newcastle
10          10   PROPN          0.965943         west
11          11   PROPN          0.997732     mourinho
14          14   PROPN          0.998335    guardiola
15          15   PROPN          0.998143        klopp
16          16   PROPN          0.997875         kane
17          17   PROPN          0.998434        david
19          19   PROPN          0.998827  southampton
20          20   PROPN          0.998693    leicester
22          22   PROPN          0.998848       fulham
23          23   PROPN          0.998585      burnley
24          24   PROPN          0.998644  bournemouth
25          25   PROPN          0.998418        messi
26          26   PROPN          0.997720    southgate
27          27   PROPN          0.998363        salah
28          28   PROPN          0.998481       madrid
29          29   PROPN          0.998421      ronaldo