In [1]:
import pandas as pd

In [2]:
# read in data
df = pd.read_csv('/Users/emmastoklundlee/Documents/Social Data Science - Masters/Thesis/data/guardian_classified_clean.csv')

In [3]:
df.head()

,type,sectionName,webTitle,webUrl,date,headline,article_text,word_count,author,char_count,womens_dictionary,mens_dictionary,men_and_women,other,liveblog,month_year,classification,only_women,only_men
0,article,Football,Why always him? What made Rodgers turn to Mari...,https://www.theguardian.com/football/blog/2015...,2015-01-28,Why always him? What made Rodgers turn to Mari...,With all eyes on Diego Costa and where he stam...,720,Andy Hunter,4220,False,True,False,False,0,2015-01-01,2,False,True
1,article,Football,Football transfer rumours: Mario Suárez to Ars...,https://www.theguardian.com/football/2015/jan/...,2015-01-01,Football transfer rumours: Mario Suárez to Ars...,"Fizzle, crackle, crackle, fizzle, crackle, cra...",434,Gregg Bakowski,2408,False,True,False,False,0,2015-01-01,2,False,True
2,article,Football,Kenny Lowe: the man leading Perth Glory to the...,https://www.theguardian.com/football/2015/jan/...,2015-01-01,Kenny Lowe: the man leading Perth Glory to the...,Kenny Lowe jokes that when he leaves Perth Glo...,937,Jack Kerr,5300,False,True,False,False,0,2015-01-01,2,False,True
3,article,Football,Manchester United consider Aston Villa’s Ron V...,https://www.theguardian.com/football/2015/jan/...,2015-01-01,Manchester United consider Aston Villa’s Ron V...,Ron Vlaar is under consideration by Louis van ...,299,Jamie Jackson,1703,False,True,False,False,0,2015-01-01,2,False,True
4,article,Football,Tony Pulis appointed West Brom head coach on t...,https://www.theguardian.com/football/2015/jan/...,2015-01-01,Tony Pulis appointed West Brom head coach on t...,Tony Pulis has been appointed as the new head ...,306,Guardian sport,1777,False,True,False,False,0,2015-01-01,2,False,True

In [4]:
# create df where only_women is equal to true
women_df = df[df['only_women']==True]

In [5]:
len(women_df)

3693

In [6]:
men_df = df[df['only_men']==True]

In [7]:
len(men_df)

51934

In [10]:
# return rows where 'sexual' is included in column 'article_text'
pd.set_option('display.max_colwidth', None)

women_df[women_df['article_text'].str.contains('sexual assault', case=False, na=False)]['headline'].tail(25)

2658                   Sexual consent course offered to clubs condemned over link to Ched Evans
13754                                Ched Evans calls for more education on alcohol and consent
34365                Carolina Rozo: 'It started with words. He would tell me I was very pretty'
41199     ‘They are protecting the club not girls’: More abuse claims hit North American soccer
41513    Sydney Leroux’s mother says abuse and bullying in Canadian soccer drove daughter to US
42163                   President of Gabon league accused of sexually abusing young footballers
43260           Concern grows over investigation into alleged sexual abuse in Gabonese football
44755                Canada Soccer mishandled complaints against coach Bob Birarda, review says
45630     Report finds sexual misconduct and emotional abuse is ‘systemic’ in US women’s soccer
46145          Fifa backs executives after failure to tell players about sexually abusive coach
48223         Canadian MPs summon senior soccer officials as they investigate response to abuse
49132                      Critics say ‘absolutely no change’ in Canada Soccer despite scandals
50266                Prosecutors investigating whether football chief’s kiss was sexual assault
50506                Jorge Vilda under investigation as criminal court looks into Rubiales kiss
50540                      Former Spain captain says Luis Rubiales row felt like ‘going to war’
50541         Rubiales resigned to protect Spain men’s World Cup bid – not for the women’s game
50695        Spain’s fight for change after World Cup is bigger than sport – it’s for all women
50905                 Spain’s World Cup win was part of battle for equality, says Jenni Hermoso
51024               Jenni Hermoso called up by Spain for first time since Luis Rubiales scandal
51194                Luis Rubiales banned from football for three years over Jenni Hermoso kiss
53168              Spanish police raid Luis Rubiales’ house as part of corruption investigation
53301                Luis Rubiales faces possible 30-month jail sentence for Jenni Hermoso kiss
Name: headline, dtype: object

In [11]:
len(women_df[women_df['article_text'].str.contains('sexual assault', case=False, na=False)]['headline'])

22

In [13]:
len(men_df[men_df['article_text'].str.contains('sexual assault', case=False, na=False)]['headline'])

39

In [12]:
len(women_df[women_df['article_text'].str.contains('sexual misconduct', case=False, na=False)]['headline'])

25

In [14]:
len(men_df[men_df['article_text'].str.contains('sexual misconduct', case=False, na=False)]['headline'])

0

In [60]:
women_df[women_df['article_text'].str.contains('relearned', case=False, na=False)]['headline'].tail(25)

36067    Everton's Hayley Raso: 'I've learned not to take football for granted'
41691     Manchester City’s Hayley Raso: ‘My book is for my brother and family’
Name: headline, dtype: object